.board-game-show {
  margin-top: 3em;
  background-color: #fffe;
  border-bottom: solid black 3px;
  border-top: solid black 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90vh;
  overflow-y: auto;
}

.board-game-show p {
  padding: 0 5em 0 5em;
}

.board-game-show-column-1 {
  width: 90%;
  height: 100%;
  overflow-y: auto;
}

.board-game-show-column-2 {
  text-align: left;
  width: 90%;
  height: 100%;
  overflow-y: auto;
  line-height: 1.5em;
  white-space: pre-wrap;
}

.board-game-show-column-3 {
  width: 90%;
}

#boardgame-show-image {
  width: 14em;
  border: solid black;
  border-width: 2px;
  margin-top: 1em;
  max-height: 18em;
}
