.App {
  text-align: center;
  padding: 10em;
}

#find-games-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border: solid black 2px;
  background: black;
  color: white;
  padding-bottom: 1em;
}
