#find-games-header {
  z-index: 1;
}

input {
  margin: 0.5em;
  /* height: 2em; */
  font-size: 0.9em;
  border-radius: 5px;
  background: #fff;
  padding: 2px;
}

input:focus {
  background: #ffe;
}

#find-game-form {
  background-color: #beb;
  width: 40em;
  margin: auto;
  border-radius: 5px;
  border: solid black 2px;
  margin-top: 11em;
}

.recommendation {
  cursor: pointer;
  border: dotted black 2px;
  color: #000;
  margin: 1em;
  border-radius: 3px;
  padding: 0.5em;
  font-size: 1em;
}

.find-game {
  background: #C6B95C;
}

.find-category {
  background: #CE8272;
}
